@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.contactContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #f8f9fa;
    padding-bottom: 50px;
}

.contactBackground {
  position: relative;
  width: 100%;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 100px;
  overflow: hidden;
}

.contactBackground::before {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/images/pages/contactUs/bg/contactUs7.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;

  filter: blur(5px);
  z-index: 0;
}

.contactBackground>* {
  position: relative;
  z-index: 1;
}

.contactBackground h1 {
  text-align: center;
  color: white;
  font-size: 3rem;
  font-family: "Archivo Black", sans-serif;
  filter: drop-shadow(0 10px 8px rgba(0, 0, 0, 0.04)) drop-shadow(0 4px 3px rgba(0, 0, 0, 0.1));
}

.contentTitle{
  margin-top: 50px;
  font-size: 2rem;
  font-weight: bold;
  font-family: "Jura", cursive;
  color: #374151;
}

.contactContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    width: 100%;
    max-width: 1100px;
    margin: 50px auto;
    padding: 0 10px;
}

.contactForm {
    flex: 2;
    background: rgba(255, 255, 255, 0.9);
    padding: 40px 20px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    max-width: 100%;
}

.contactInfo {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: left;
    align-items: start;
}

.contactInfo h1 {
    font-size: 2rem;
    margin-bottom: 8px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    color: #374151;
}

.contactInfo span {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 1.3rem;
  font-family: 'Quicksand', sans-serif;
  color: rgba(88, 87, 87, 0.822);
}

.hoursRow {
  display: flex;
  justify-content: space-between;
  width: 110%;
}

.contactInfo button{
  display: flex;
  align-items: center;
   gap: 8px;
  cursor: pointer;
  color: rgba(88, 87, 87, 0.822);
  background: transparent;
  border: none;
  padding: 8px 85px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 15px;
  transition: background 0.3s;
  font-size: 1rem;
  font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contactInfo button:hover {
  background: hsla(0, 0%, 89%, 0.3);
}

.contactInfo a.fancy {
  margin-top: 10px;
  display: inline-block;
}

@media (max-width: 600px) {
  .contactContainer {
      padding-bottom: 30px;
    }
  .contactBackground {
    height: 350px;
    padding-bottom: 120px; 
  }
  .contactBackground h1 {
  font-size: 2.25rem;
  }
    .contactContent {
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 20px;
      padding: 20px;
      max-width: 100%;
    }
  .contactInfo {
      text-align: center;
      align-items: center;
      width: 100%;
  }

    .contactForm {
      margin-top: 15px;
      flex: 1;
      background: rgba(255, 255, 255, 0.9);
      padding: 40px 20px;
      border-radius: 12px;
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
      width: 90%;
    }
    .hoursRow {
      display: flex;
      justify-content: space-between;
      width: 103%;
    }
    .contactInfo span {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 8px;
      font-size: 1.3rem;
      font-family: 'Quicksand', sans-serif;
      color: rgba(88, 87, 87, 0.822);
    }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .contactBackground {
      height: 600px;
      padding-bottom: 220px;
    }
}