@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: hsl(0, 0%, 100%);
  backdrop-filter: blur(5px);
  z-index: 1000;
}

.logo {
  color: black;
  margin: 0;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.logoArtisan {
  font-size: 2.5rem;
  font-family: 'Allura', cursive;
  font-weight: 400;
  line-height: 1.1;
  margin-bottom: -12px;
}

.logoClinic {
  font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  margin-top: 0;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

nav ul li a {
  position: relative;
  font-size: 1rem;
  font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 8px 12px;
  color: black;
  display: inline-block;
  cursor: pointer;
}

nav ul li a:hover::after,
nav ul li.active a::after {
  width: 100%;
}


nav ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0; 
  width: 0;
  height: 2px; 
  background-color: #555555ff;
  transition: width 0.3s ease-in-out; 
}

nav ul li.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background: hsla(0, 0%, 0%, 0.7);
  min-width: 180px;
  list-style: none;
  padding: 0;
  text-align: center; 
}

.dropdown-menu li a {
  padding: 8px 12px;
  display: block;
  color: #000000ff;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  background: none;
  border: none;
  cursor: pointer;  
  color: black;
}

nav span {
  margin-left: 15px;
  padding: 0px 15px;
  background: transparent;
  border: none;
  font-size: 1.8rem;
  margin: 0 10px;
  color: #333;
}

nav button {
  cursor: pointer;
  color: #000000ff;
  background: transparent;
  border: none;
  padding: 8px 18px;
  border: 1px solid gray;
  border-radius: 15px;
  transition: background 0.3s;
  font-size: 1rem;
  font-family: 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav button:hover {
  background: rgb(221, 221, 221);
}
/* mobile */
@media (max-width: 600px){
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 10%;
  }

  nav {
    position: absolute;
    top: 80px; /* below header */
    left: 0;
    width: 100%;
    background: #b1b1b1ff;
    max-height: 0;
    overflow: hidden;
    flex-direction: column;
    transition: max-height 0.3s ease;
  }

  nav.nav-open {
    max-height: 300px; /* adjust to fit menu items */
  }

  nav ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .menu-toggle {
    display: block;
  }

  nav button {
    display: none;
  }
  nav span {
    font-size: 0px;
  }
}
/* ipad portrait */
@media (min-width: 601px) and (max-width: 1024px){
  .header{
    padding: 20px 10%;
  }

  .logoArtisan{
        font-size: 1.5rem;
  }

  .logoClinic{
        font-size: .8rem;
  }

  nav ul li a {
    font-size: .8rem;
  }

  nav button {
  padding: 4px 9px;
  font-size: .8rem;
}
}

/* ipad landscape */
@media (min-width: 1025px) and (max-width: 1194px){
  .header {
  padding: 30px 10%;
  }
}

/*  */
@media (min-width: 1195px) {
  .header {
    padding: 30px 20%;
  }
}